header
 height: 200px
background: #ccc
.logo
  +size(50px)
  background: #999

nav

  a
    display: inline-block
    margin-left: 70px
    color: rgba(0.7)

    font:
        size: 14px
        wight: 700
    text-transform: uppercase

  h1
    text-align: center
    font:
      size: 72px
      weight: 700
    color: white
    text-transform: uppercase
    letter-spacing: 0.05em
    margin-bottom: 20px
    clear: both
    padding-top: 100px

  .description
    @extend %small-bold
    text-align: center
    letter-spacing: 0.05em
    color: white
    line-height: 1

