body{
  background-image: url("img/b.jpg");
}
header{
  height: 70px;
  background: white;
}
nav
  a{
  float:right;
}
h1 {
  margin-left: 800px;
  margin-right: 10px;
  color: blue;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-top: 300px;
}

p {
    text-align: right;
    color: blue;
    font-size: 20px;
    text-transform: uppercase;
}
