<!DOCTYPE html>
<html class="">
<header>
  <link rel="stylesheet" href="main.css">
  <div class= "logo"></div>
    <img src="img/brain1.jpg" class="up-follow-img"style="margin:1px;"></a>
  <nav>
  <div class = "top-icons, flex">
    <a href = "https://github.com/Brief_of_Books">
      <img src="img/github.png" class="up-follow-img" style="margin:5px;"></a>
  </div>
  </nav>
</header>
<body>
  <h1>Brief_of_books</h1>
  <p class="description">To abstract a long way for you</p>



</body>
</html>



